@model IEnumerable<Octavados.ViewModels.IndexEstoqueVM>

@{
    ViewData["Title"] = "Estoque";
}

<div class="d-flex justify-content-between">
    <h2>
        <i class="fas fa-boxes-stacked"></i>
        @ViewData["Title"]
    </h2>

    <a class="btn btn-secondary" asp-action="Criar" asp-controller="Estoque">
        <i class="fa-solid fa-plus"></i>
        Adicionar Estoque
    </a>
</div>
<br>

<div class="list-group">
    @if (Model.Any())
    {
        foreach (var itemDeEstoque in Model)
        {
            <a class="list-group-item list-group-item-action" asp-action="Editar" asp-route-id="@itemDeEstoque.Id">
                <div class="row">
                    <div class="col-1 col-auto me-auto border-end text-center d-flex align-items-center justify-content-center"
                        style="color: black;">
                        <div>
                            <span style="font-weight: bold;">@itemDeEstoque.Id.ToString("0000")</span><br>
                        </div>
                    </div>
                    <div class="col-md-10" style="font-weight: bold;">
                        <strong>@itemDeEstoque.NomeProduto</strong><br>
                        <span style="font-weight: bold;">Quantidade: @itemDeEstoque.Quantidade</span><br>
                        <span>Data de Chegada: @itemDeEstoque.DataChegada.ToString("dd/MM/yyyy")</span><br>
                    </div>
                </div>
            </a>
        }
    }
</div>
