@model Octavados.ViewModels.VendasIndexVM

@{
    ViewData["Title"] = "Vendas";
}
<div class="d-flex justify-content-between">
    <h2>
        <i class="fas fa-box-open"></i>
        @ViewData["Title"]
    </h2>

    <div class='ms-auto'>
        <a asp-action="Criar" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            Nova Venda
        </a>
    </div>
</div>
<br>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" name="nomeCliente" value="@Model.Filtros.NomeCliente"
                placeholder="Nome do Cliente" />
        </div>

        <div class="col-md-2">
            <input type="text" class="form-control" name="nomeProduto" value="@Model.Filtros.NomeProduto"
                placeholder="Nome do Produto" />
        </div>

        <div class="col-md-2">
            <input type="number" class="form-control" name="totalVenda" value="@Model.Filtros.TotalVenda"
                placeholder="Total da Venda" />
        </div>

        <div class="col-md-2">
            <input type="date" class="form-control" name="dataCompra"
                value="@Model.Filtros.DataCompra?.ToString("yyyy-MM-dd")" />
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<div class="list-group mt-3">
    @foreach (var venda in Model.Vendas)
    {
        <a class="list-group-item list-group-item-action" asp-action="Editar" asp-route-id="@venda.Id">
            <div class="d-flex justify-content-between">
                <div class="col-2">@venda.Id</div>
                <div class="col-3">@venda.NomeProduto</div>
                <div class="col-2">@venda.DataVenda.ToString("dd/MM/yyyy")</div>
                <div class="col-2">R$ @venda.Total?.ToString("N2") ?? "0,00"</div>
                <div class="col-2">@venda.QuantidadeDeItens</div>
            </div>
        </a>
    }
</div>


<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model.Vendas, page => Url.Action("Index", new
        {
            page,
            nomeCliente = Model.Filtros.NomeCliente,
            nomeProduto = Model.Filtros.NomeProduto,
            totalVenda = Model.Filtros.TotalVenda,
            dataCompra = Model.Filtros.DataCompra
        }))
</div>
